* {
	box-sizing: border-box;
	position: relative;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CubanoRegular';
    src: url('fonts/cubano-regular-webfont.eot');
    src: url('fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cubano-regular-webfont.woff') format('woff'),
         url('fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('fonts/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.symbol {
	font-family: 'WebSymbolsRegular';
}

input[type="radio"] { display: inline-block;vertical-align: text-bottom; }
input[type="checkbox"] { display: inline-block;vertical-align: bottom; }

html, body {
	height: 100%;
}

header {
	text-align: center;
}

h1 {
	color: rgb(80, 35, 2);
	font-family: 'CubanoRegular', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 500%;
	line-height: 1.2;
}

#container {
	background-color: palegoldenrod;
	background-image: url(../img/flicker.png);
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-attachment: fixed;
	min-height: 100%;
	/*-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;*/
}

#container > header {
	padding: 3em 5em;
}

#container > section {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 0 5px 2px rgba(0,0,0,.4);
	margin: 0 auto;
	padding: 50px;
	max-width: 500px;
}

#container > section, .bird {
	display: none;
	opacity: 0;
}

#container > .has-context, .bird.is-active {
	display: block;
}

.bird, .game-options {
	text-align: center;
}

.game-options {
    margin: 1.5em 0;
}

#loading-screen {
	background-color: rgba(255, 255, 255, .6);
	border-radius: 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	color: rgb(255, 255, 255);
	display: -webkit-box;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,1);
	top: 0;
	width: 100%;
	z-index: 99;
}

figure img {
	display: block;
	margin: 0 auto;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.is-hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
