<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Bird Match</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="container">
  	<header><h1>Bird Match</h1></header>
  	<section id="title-screen">
	  	<header>
	  	    <p>Test your bird-matching skills against photos from Flickr!</p>
	  	</header>
	  	<div>
	  		<label><input type="radio" name="pool" value="world" checked /> Use birds from all over the world</label>
	  		<label><input type="radio" name="pool" value="local" /> Use birds recently seen around New York City</label>
	  	</div>
	  	<!-- <button id="continue-game">Continue Current Game</button> -->
	  	<button id="start-game">Start New Game</button>
  	</section>
    <section id="game-board" role="main">
    <div id="loading-screen" class="is-hidden"><div><span class="loader symbol">1</span><br/>Loading...</div></div>
    </section>
    <section id="score-board">
    
    </section>
    <footer>

    </footer>
  </div> <!-- eo #container -->

	<script id="bird-template" type="text/template">
		<figure>
			<img src="<%= images[0].media.m %>" alt="<%= comName %>" />
			<figcaption>
				<p>&copy; <a href="<%= images[0].link %>"><%- images[0].author.split('(')[1].split(')')[0] %></a></p>
			</figcaption>
		</figure>
		<select>
			<option value=""></option>
		<% _.each(nameOptions, function(name){ %>
			<option value="<%= name %>"><%= name %></option>
		<% }); %>
		</select>
		<% if(images.length > 1){ %><div><button class="change-photo">Change Photo</button></div><% } %>
	</script>
	
	<script id="stats-template" type="text/template">
		<ul>
			<li>Correct: <%= correct %></li>
			<li>Total: <%= total %></li>
		</ul>
	</script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js"></script>
  <script src="js/backbone-localstorage.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.0/bootstrap.min.js"></script>
  <script src="js/match.js"></script>
  
  <!-- end scripts-->
</body>
</html>